@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik&family=VT323&display=swap');
body{    
    overflow: hidden;   
    font-family: 'Inter', sans-serif;
}

.content{
    display: flex;
justify-content: center;
flex-shrink: 0;
margin-top: 200px;

}
.title{font-size: 80px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
.caption{
    text-align: justify;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 150% */
margin-top: 50px;
width: 268px;
height: 230px;
margin-left: 430px;
}
.subtitle{   
font-size: 180px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.cursor-follow{
    position: absolute;
    background: url(/public/logo192.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100px;
    mix-blend-mode: difference;
    height: 200px;
    z-index: 2;
    user-select: none;
    pointer-events: none;
    transform: translate(5px,5px);
}

