.cursordot{
    border-radius: 50%;
    position: relative; /* Change to relative */
    z-index: 2; /* Adjust the z-index value */
    pointer-events: auto; /* Allow pointer events within this element */
    width: 10px;
    height: 10px;
    background-color: #3E3E3E;
  }